.cargando{
    padding: 20px;
    text-align: center;
}

.error{
    color: 'red';
    padding: 20px; 
    text-align: center;
}

.no-colecciones{
    padding: 20px; 
    text-align: center;
}

.container-table{
   font-family: Arial, sans-serif;
}

h2{
    color: #333;
    background-color: rgba(240, 248, 255, 0.49);
}

.container-table a{
    color: #10457b;
    text-decoration: none;
    transition: transform .2s;
}

.container-table a:hover{
    transform: scale(1.1);
}

table {
    width: 1000px;
    border-collapse: collapse;
    margin-top: 15px ;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
  }

  th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
  }

  td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
  }

  footer {
    margin-top: 15px;
    font-size: 0.9em;
    color: #666;
  }