.inicio-container {
  height: 100vh;
  width: 100%;
  background-image: url("../img/iniciofondo.jpeg");
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.titulo {
  font-style: oblique;
  color: rgb(253, 246, 238);
  margin-bottom: 0%;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;  /* más ancho */
  height: 450px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  background: #000;  /* fondo negro detrás de las fotos */
}

.carousel-track {
  display: flex;
  transition: transform 1s ease;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* cambia a 'cover' si querés que recorte para llenar */
  flex-shrink: 0;
}
.arrow {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  background: rgba(255, 237, 237, 0.5);
  border: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  padding: 15px;
  cursor: pointer;
  z-index: 9;
  border-radius: 50%;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(255, 246, 246, 0.733);
}

.arrow.left {
  left: 10px; 
  width: 40px;
}

.arrow.right {
  right: 10px;  /* pegada al borde derecho */
  width: 10px;
}


.button {
  height: 40px;
  width: 170px;
  border: none;
  background: #61a3ef;
  border-radius: 1rem;
  transition: 0.2s;
  margin-top: 3%;
  margin-left: 27%;
}

.button:hover {
  transform: scale(1.2);
}

a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;                  
  text-decoration: none;
}

a:hover {
  color: #2c53ff;
  font-size: 19px;                 
}
