.inicio-container {
  height: 100vh;
  width: 100%;
  background-image: url("../img/iniciofondo.jpeg");
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.titulo {
  font-style: oblique;
  color: rgb(253, 246, 238);
  margin-bottom: 0%;
  background-color: rgba(29, 33, 82, 0.796)
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 450px;
  overflow: hidden;
  border-radius: 15px;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

.arrow {
  position: absolute;
  top: 43%;
  border: none;
  font-size: 5rem;
  cursor: pointer;
  z-index: 9;
  border-radius: 50%;
  transition: background 0.3s;
  padding: 5px;
  border-radius: 60px;
  text-align: center;
  height: 50px;
  
}

.arrow.left {
  left: 20px;
  color: aliceblue;
  margin-left: 147px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.arrow.right {
  right: 20px; 
  width: 50px;
  color: aliceblue;
  margin-right: 147px;
  display: flex;
  align-items: center;
  text-align: center;
}

.arrow:hover{
  transform: scale(1.1);
}

.ubi-boton{
  width: 170px;
}

.button {
    width: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 18px;
    border: 2px solid aliceblue;
    background: #1C3051;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.5s ease;
    text-align: center;
    transition: 0.5s;
}

.button:hover {
  transform: scale(1.3);
  background: #8F8F8F;
  transition: 0.5s;
}


a {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;                  
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:hover {
  color: #2c53ff;
  font-size: 19px;           
}

h3{
  color: white;
}

.botones{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.botones .button{
  width: 200px;
}
