 *{
    margin: 0%;
    padding: 0%;
 }
 .navbar {
    display: flex;
    align-items: center;
    background-color: #233a5e;
    gap:20px;
    width: 100%;
}
.navbar img {
    height: 90px;
    margin-right: 50px;
    margin-left: 40px;
}
